@(fForm: Form[fullForm])

@import helper._
@import helper.twitterBootstrap._

@main("Hi man") {

   @helper.form(action = routes.Application.index()) {
        
        <fieldset>
            <legend>Full Form!</legend>
            
            @inputText(
                fForm("username"),
                '_label -> "Username", 
                '_help -> "Please choose a valid username.",
                '_error -> fForm.globalError
            )
            
            @inputText(
                fForm("network"), '_label -> "Email",
                '_help -> "Enter a valid email address."
            )
            
            @inputText(
                fForm("campaign"), '_label -> "Email",
                '_help -> "Enter a valid email address."
            )
            
        </fieldset>
        
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Sign Up">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
    
}